[submodule "third_party/GeoTransformer"]
	path = third_party/GeoTransformer
	url = https://github.com/alexmelekhin/GeoTransformer.git
[submodule "third_party/AdelaiDepth"]
	path = third_party/AdelaiDepth
	url = https://github.com/aim-uofa/AdelaiDepth
[submodule "third_party/Depth-Anything-V2"]
	path = third_party/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2
[submodule "third_party/HRegNet"]
	path = third_party/HRegNet
	url = https://github.com/alexmelekhin/HRegNet.git
[submodule "third_party/PointMamba"]
	path = third_party/PointMamba
	url = https://github.com/alexmelekhin/PointMamba.git
