accelerate==1.5.2
albumentations
dvc[gdrive]
einops
fuzzywuzzy
fuzzywuzzy
gdown
hydra-core>=1.2
ipdb
kaleido
loguru
matplotlib
mlp-mixer-pytorch
numpy
numpy-quaternion
open3d
opencv-python
pandas
plotly>=5.14.1
python-Levenshtein
python-Levenshtein
pytorch_metric_learning
requests>=2.31.0
scipy
seaborn
torchshow @ git+https://github.com/xwying/torchshow.git@master
tqdm
wandb
