bandit==1.7.5
black==25.1.0
coverage[toml]==7.8.0
darglint==1.8.1
flake8==7.2.0
flake8-annotations==3.1.1
flake8-bandit==4.1.1
flake8-black==0.3.6
flake8-bugbear==24.12.12
flake8-docstrings==1.7.0
flake8-isort==6.0.0
isort==5.12.0
nox==2023.4.22
pep8-naming==0.13.3
pre-commit==3.3.3
pygls==1.0.2
pytest==7.4.0
pytest-cov==4.1.0
