albumentations
dvc[gdrive]
einops
gdown
hydra-core>=1.2
ipdb
kaleido
matplotlib
numpy
open3d
opencv-python
pandas
plotly>=5.14.1
pytorch_metric_learning
requests>=2.31.0
scipy
tqdm
wandb
python-Levenshtein
fuzzywuzzy
loguru
numpy-quaternion
seaborn
mlp-mixer-pytorch
