black==23.3.0
darglint==1.8.1
flake8==6.0.0
flake8-bugbear==23.3.23
flake8-docstrings==1.7.0
isort==5.12.0
mypy==1.2.0
pandas-stubs~=2.0.0
pep8-naming==0.13.3
pre-commit==3.2.2
pytest==7.3.1
types-tqdm~=4.65.0
