/minkloc3d_nclt.pth
/multi-image_multi-semantic_lidar_late-fusion_nclt.pth
/multi-image_lidar_late-fusion_nclt.pth
/best_soc_75.pth
/best_soc_oriented.pth
/ResNet18FPN_ImageFeatureExtractor_int8_jetsonXavier.engine
/ResNet18FPN_ImageFeatureExtractor_int8_nvidia.engine
